gizli.txt
sakli adı içinde olan bütün dosyaları saklar.
orhan.* bütün orhan isimli dosyaları saklar.
*.html bütün html uzantılı dosyaları saklar.
git commit -m "" commite isim ekleme.
git restore yaptığımız değişikliği siler.